{{!--
{{#> base}}
  {{#*inline "content"}}
--}}
  <h2>{{i18n "account"}}</h2>
  <form>
    <table>
      <tr>
        <td><p>{{i18n "username"}}</p></td>
        <td><input type="text" name="u" /></td>
      </tr>
      <tr>
        <td><p>{{i18n "password"}}</p></td>
        <td><input type="password" name="p" /></td>
      </tr>
      <tr style="height:5px"></tr>
      <td colspan="2">
        <center>
          <input type="submit" value="Create" />
        </center>
      </td>
    </table>
  </form>
{{!--
  {{/inline}}
{{/base}}
--}}
