<html>
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <div class="app">
      {{> content}}
    </div>
    {{!--
    <p>Made with {{{icon "language_rust"}}}</p>
    --}}
  </body>
</html>
