{{#> base}}
  {{#*inline "content"}}
  <center>
    <table>
      <tr>
        <td><button>Home</button></td>
        <td><button>Libraries</button></td>
        <td><button>Admin</button></td>
        <td><button>tv icon</button><button>film icon</button><button>music icon</button></td>
      </tr>
    </table>
    <hr>
  </center>

  <h3>Continue watching</h3>
  <h3>Newly added</h3>

{{!--
  <table>
    {{#each rows}}
      {{#each cards}}
      <td>
        <img src="{{ img_url }}"
      </td>
      {{/each}}
    {{/each}}
  </table>
--}}
  {{/inline}}
{{/base}}
