{{ define "content" }}
<p>
    Kirino Web is part of Kirino Media Server.
    <br>
    Kirino Media Server is free software and relies on contributions from unpaid volunteers.
    <br>
    If you get anything of value out of Kirino projects, please consider contributing in any of the following ways:
</p>

<ul>
    <li>Write code (get started by checking out our <a href="https://github.com/kirino-org/kirino">Github</a>)</li>
    <li>Report bugs / feature requests (get started by checking out our <a href="https://github.com/kirino-org/kirino/issues">Github issues</a>)</li>
    <li>Draw some artwork (open a pull request on our <a href="https://github.com/kirino-org/art">user-contributed art Github</a>, please keep everything <i>safe for work</i> and <i>original</i>)</li>
</ul>
{{ end }}