<html>
    <head>
        <title>{{ template "title" . }} &mdash; Kiririn</title>
        <link href="/app/assets/style.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <nav>
                <a href="/app/dash">Home</a>
                <a href="/app/libraries">Libraries</a>
                <a href="/app/search">Search</a>
                <a href="/app/manage">Manage</a>
                <a href="/app/about">About</a>
            </nav>
        </header>

        {{ template "content" . }}

        <footer>
            <p>Kiririn v0.1 - AGPLv3</p>
            <p>
                <a href="/app/about" target="_blank">About</a> -
                <a href="https://github.com/kirino-org/kirino" target="_blank">Source Code</a>
            </p>
        </footer>
    </body>
</html>