{{ define "title" }}{{ .Data.Name }}{{ end }}

{{ define "content" }}
<h2>{{ .Data.Name }}</h2>
<p>Library ID: {{ .Data.ID }}</p>

{{ $ = . }}

<table>
    {{ range .Data.AllSeries }}
        <tr>
            <td>
                <img src="{{.Image}}" style="width:10rem" />
            </td>
            <td>
                <h3>
                    {{ if eq .Title "" }}
                        {{ .OriginalTitle }}
                    {{ else }}
                        {{ .Title }}
                    {{ end }}
                    {{ .OriginalTitle }}
                </h3>
                <p>
                    {{ .Description }}
                </p>
            </td>
            <td>
                <a href="/app/series?lid={{$.Data.ID}}&sid={{.ID}}">Open</a>
            </td>
        </tr>
    {{ end }}
</table>
{{ end }}